<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmZdnl7mr2PeadlUzYZQPa8NmrfeVAyJc</string>
	<key>GCM_SENDER_ID</key>
	<string>429934915789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>noteapp-ac4a3</string>
	<key>STORAGE_BUCKET</key>
	<string>noteapp-ac4a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429934915789:ios:3c9785d61bc6bbea543984</string>
</dict>
</plist>